/**
    Author: Daniel Rios
*/

@charset "UTF-8";

@import '../../../node_modules/font-awesome/scss/font-awesome';

@mixin font-awesome($size: false, $colour: false, $weight: false,  $lh: false) {
    @include fa-icon();
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

:root {
    --acentColor: #2cafec;
    --secondColor: #464646;
}
body {
    //background-color: var(--acentColor);

    h2 {
        &:before {
            //content: $fa-var-glass;
            //@include font-awesome(2em, var(--secondColor));
        }
    }
    .wp-submenu {
        > .current {
            &:before {
                content: '';
                background-color: #ffffff;
                width: 2px;
                height: 30px;
                display: inline-block;
                left: 0;
                position: absolute;
            }
        }
    }
    #wpbody {
        .mobi-overview {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;

            .item {
                border-radius: 5px;
                width: 25%;
                height: 200px;
                background-color: var(--acentColor);
                margin: 10px;

                a {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: block;
                    text-decoration: none;

                    span {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        color: var(--secondColor);
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}